.container2{
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  gap: 5px;
  font-size: 14px;
  align-content: center;
  justify-items: center;
  text-align: center;
  margin: 0px 3px 0px 3px;
}
.inputPosition{
  border: 1px solid lightblue;
  border-radius: 8px;
  height: 28px;
  width: 280px;
  
}
.buttonsPosition{
  background-color: rgb(63, 63, 245);
  border-radius: 4px;
  border: none;
  font-size: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  max-height: 40px;
  
}
.buttonsPosition:hover{
  opacity: .6;
  box-shadow: 0px 0px 20px rgba(2, 10, 0, 0.685);
  color: rgb(0, 0, 0);

}
.divButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inputPosicao{
  border: 1px solid lightblue;
  border-radius: 8px;
  height: 28px;
  width: 280px;
  
}
.listaPrimos{
  max-width: 500px;
  background-color: rgb(171, 237, 241);
  
  border-radius: 10px;
  background-attachment: initial;
}